.DS_Store

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Local environment
.env
.env.*
!.env.example
